.ChalengeBoxContainer{
    height: 100%;

    background: var(--white);
    border-radius: 5px;
    box-shadow: 0 0 60 rgba(0, 0, 0, 0.05);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    text-align: center;
    padding: 10px;
}

.ChalengeBoxNotActive{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ChalengeBoxNotActive strong{
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.4;
}

.ChalengeBoxNotActive p {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1.4;
    max-width: 40%;
    margin-top: 3rem;
}

.ChalengeBoxNotActive p img{
    margin-bottom: 1rem;
}

.ChalengeBoxActive{
    height: 100%;

    display:flex;
    flex-direction:column;
}

.ChalengeBoxActive header{
    color: #BF1A2F;
    font-weight: 600;
    font-size:1.24rem;
    padding: 1.5rem 1.5rem;
    border-bottom: 2px solid #BF1A2F;
}
.ChalengeBoxActive main {
    flex: 1;
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
}

.ChalengeBoxActive main strong {
    font-weight: 600;
    font-size: 2rem;
    color: var(--title);
    margin: 1.5rem 0 1rem;
}

.ChalengeBoxActive main p {
    line-height: 1.5;
}

.ChalengeBoxActive footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    padding-bottom: 1rem;
}

.ChalengeBoxActive footer button{
    height: 3rem;

    display: flex;
    align-items: center;
    justify-content: center;
    
    border: 0;
    border-radius: 5px;
    color: var(--white);

    font-size: 1rem;
    font-weight: 600;

    transition: filter 0.2s;
}

.challengefailButton {
    background: #BF1A2F;
}

.challengecompleteButton {
    background: var(--green);
}

.ChalengeBoxActive footer button:hover{
    filter: brightness(0.9);
}