.container{
    background: #BF1A2F;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    display: flex;
    justify-content: center;
    align-items:center;
}

.loginbox {
    background: var(--white);
    width: 100%;
    max-width: 400px;
    padding: 2rem 3rem;
    border-radius:5px;
    text-align: left;
    
    display:flex;
    flex-direction: column;
}

.loginbox strong {
    font-size: 1.25rem;
    margin-top: 3rem;
}

.loginbox p {
    margin-top: 1rem;
    font-size: 1rem;
}
.loginbox span {
    font-size: 0.8rem;
    color: #BF1A2F;
}

.go {
    display:flex;
    justify-content:flex-start;
}

.go input {
    width: 100%;
    margin-top: 1rem;
    height: 2.5rem;
    border: 2px solid #1C3144;
    border-radius: 5px 0 0 5px;
    color: var(--white);
    padding-left: 1rem;
    
}

input.input::placeholder { 
    color: white;
    opacity: 0.5; 
    color: #1C3144;
}

.go button {
    margin-top: 1rem;
    width: 2.5rem;
    background: #1C3144;
    border: none;
    border-radius:0 5px 5px 0;
    font-size: 0;
}